body.landing {
    background-color: rgb(58,23,63);
}

.hero-content {
    position: relative;
    min-height: 600px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-content .hero-title {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 0px rbg(58,23,63);
}

.selling-points {
    position: relative;
}

.point {
    position: relative;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    color: black;
    -webkit-transform: scaleX(0.3) scaleY(0.5) translateY(3rem) rotate(45deg);
    -moz-transform: scaleX(0.3) scaleY(0.5) translateY(3rem) rotate(45deg);
    transform: scaleX(0.3) scaleY(0.5) translateY(3rem) rotate(45deg);
    -webkit-transition-property: opacity, transform, color;
    -webkit-transition-duration: 0.5s, 0.5s, 0.7s;
    -webkit-transition-timing-function: ease-out, ease-out, ease-in;
    -moz-transition-property: opacity, transform, color;
    -moz-transition-duration: 0.5s, 0.5s, 0.7s;
    -moz-transition-timing-function: ease-out, ease-out, ease-in;
    transition-property: opacity, transform, color;
    transition-duration: 0.5s, 0.5s, 0.7s;
    transition-timing-function: ease-out, ease-out, ease-in;
    -webkit-transition-delay: 0.2s;
    -moz-transitiion-delay: 0.2s;
    transition-delay: 0.2s;
}

.point .point-title {
    font-size: 1.25rem;
}
